<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-1 ">

                <img src="assets/flogo.png" class="img-fluid" alt="" style="height: 40px;width: 160px">

            </div>
            <div class="col-md-11 ">
                <a class="navbar-brand" href="#">Personas de Firebase <span class="badge badge-secondary badge-pill">{{cantidad}}</span></a>
            </div>
        </div>


    </div>
</nav>